<% set_page_title("User '#{@user.first_name}' | Thinkiny") %>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <%= image_tag(@user.picture.thumb.url, id:'icon_show_author') if @user.picture? %>
</p>
<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>
<p>
  <strong>My Courses:</strong>
  <p>
    <% @user.course_users.includes(:course).organizers.each do |course| %>
      <%= course.course&.name %>
    <% end %>
  </p>
<strong>Join to course:</strong>
<p>
  <% @user.course_users.includes(:course).where(role: 'participant').each do |course| %>
    <%= course.course.name %>
  <% end %>
</p>
<p>
  <strong>Rating:</strong>
  <%= @user.rating %>
</p>

<%= link_to 'Edit', edit_user_path(@user), class:"btn btn-outline-dark" %>
<%= link_to 'Back', root_path, class:"btn btn-outline-dark" %>
