<nav class="navbar navbar-expand-md navbar-dark">
  <%= link_to 'Home', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <% if current_user %>
        <% if current_user&.admin? %>
          <li class="nav-item active">
            <%= link_to "Create Category", new_category_path, class:'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item active">
            <%= link_to current_user.first_name.present? ? current_user.first_name : current_user.email,
                        user_path(current_user.id), class:'nav-link' %>
          </li>
        <% end %>
        <li class="nav-item active">
          <%= link_to "Create Course", new_course_path, class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", logout_path, class:'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to "Log in", login_path , remote: true,  'data-toggle': "modal",
                      'data-target':'#login', class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", signup_path,remote: true,  'data-toggle': "modal",
                      'data-target':'#new_user', class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
<div id="login" class="modal hide fade" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content"></div>
  </div>
</div>
<div class="modal fade" id="new_user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>