<header>
  <div class="fix"></div>
  <div class="block_header text-center">
    <p>Круглое кати - квадратное неси</p>
    <p class="blockquote-footer">Джейсон Стетхем</p>
  </div>
</header>
<section class="second">
  <div class="row justify-content-around content">
    <div class="offset-1 col-md col-lg-6 col-xl-5">
      <h2><%= t 'welcome.title1' %></h2>
      <div class="actions pt-1 pb-5">
        <%= link_to "Підібрати курс", courses_path, class:'btn btn-outline-success btn-lg  ' %>
      </div>
    </div>
    <div class="col-md col-lg-5 col-xl-6 text-center">
      <img src="https://www.teachery.co/assets/iPadPro-fb4abd0df7e5bcab85c937ba5c0eb5f38bf9b85edb965d26994588bf5528a725.png" alt="">
    </div>
  </div>
</section>
<section class="third">
  <div class="row col-10 offset-1">
    <div class="col-10 col-xl">
      <div class="text-center pb-5">
        <img src="https://www.teachery.co/assets/ico-dolar-8ea1b96ba16f2588ffd734682b63fab83d8e01a910179d67d70952d101800b03.svg">
      </div>
      <p><%= t 'welcome.block1' %></p>
    </div>
    <div class="offset-xl-1 col-10 col-xl">
      <div class="text-center pb-5">
        <img src="https://www.teachery.co/assets/ico-mouse-4901e0fb1d7ce3bd53b0fa4162275fd767b51bee1aea97cb419234add6f40e30.svg" alt="pic">
      </div>
      <p><%= t 'welcome.block2' %></p>
    </div>
    <div class="offset-xl-1 col-10 col-xl">
      <div class="text-center pb-5">
        <img src="https://www.teachery.co/assets/ico-folder-27dd39a6043eeb83ef66c72a10098da69e65ae69b0917032c3193be5329eef21.svg" alt="pic">
      </div>
      <p><%= t 'welcome.block3' %></p>
    </div>

  </div>
</section>
<section><%= render "shared/nearbys" %></section>
