<div id="lesson__header">
  <div id="theme">Theme lesson <b>' <%= @lesson.theme %> '</b></div>
  <p id="lesson__pictures"><%= image_tag(@lesson.picture.url, width: 400) if @lesson.picture? %></p>

  <div  class="col-10 col-md-8" id="description"><%= @lesson.description %></div>
</div>
<div id="btn__lesson">
  <div>
    <% if current_user && verify_instructor(@course, current_user) %>
      <%= link_to 'check_ins', course_lesson_check_ins_path(course_id: @lesson.course.id, lesson_id: @lesson.id),
                  class: "btn btn-outline-dark"  %>
      <%= link_to "Edit", edit_course_lesson_path(@course, @lesson), class: "btn btn-outline-dark"  %>
      <%= link_to "Destroy", course_lesson_path(@course, @lesson),
                  method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-dark" %>
    <% end %>
  </div>
</div>