
<%= form_with(model: @course, local: true) do |form| %>
  <% if @course.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mt-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control"%>
  </div>

  <div class="field mt-5">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control"%>
  </div>

  <div class="field mt-5">
    <%= form.label :place_quantities %>
    <%= form.text_area :place_quantities, class: "form-control"%>
  </div>

  <div class="field mt-5">
    Pre-moderation
    <br>

    <%= form.radio_button(:pre_moderation, "true") %>
    <%= form.label(:pre_moderation, "On") %>

    <%= form.radio_button(:pre_moderation, "false") %>
    <%= form.label(:pre_moderation, "off") %>
  </div>

  <br>

  <!--<div class="field mt-5">-->
  <!--<%= form.label :address %>-->
  <%= form.text_field :address, class: "form-control address", id: "address"%>
  <!--</div>-->

  <%= form.hidden_field :latitude, class: "form-control"%>
  <%= form.hidden_field :longitude, class: "form-control"%>

  <div id="map2"></div>

  <br>
  <div class="ml-auto mt-2">
    <%= form.submit 'Submit', class: "btn btn-outline-dark" %>
  </div>
<% end %>

<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
<% end %>

<script>
  $("#address").geocomplete({
    map: "#map2",
    mapOptions: {
      zoom: 10
    },
    markerOptions: {
      draggable: true
    },
    location: [<%= request.location.latitude.nil? ? 51.5 : request.location.latitude %>, <%= request.location.longitude.nil? ? -0.125 : request.location.longitude %>]
  });
</script>
