<%= form_with(model: @course, local: true) do |form| %>
  <% if @course.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mt-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control"%>
  </div>

  <div class="field mt-5">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control"%>
  </div>
  <div class="pt-5 text-center">
    <button type="button" class="btn btn-outline-light btn-sm"
            data-toggle="modal" data-target="#add_category">
      Select category
    </button>
  </div >
  <div class="modal fade" id="add_category" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content add_category_to_course">
        <div class="modal-body ">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="row p-2 modal_add_category_to_course" >
            <%= form.collection_check_boxes :category_ids, Category.all, :id, :title do |t| %>
              <div class="card col-4 modal_add_category_to_course">
                <div class="card-body text-center  " >
                  <%= t.label %>
                  <%= t.label { t.check_box } %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="field mt-5 text-center">
    <%= form.label :place_quantities %>
    <%= form.number_field :place_quantities, class: "form-control text-center",
                          placeholder:'Уведіть максимальну кількість учнів курсу'%>
  </div>
  <div class="field mt-5">
    <div>
      <%= form.label :attendance_rate %>
      <%= link_to '#', remote: true,  'data-toggle': "modal",
                  'data-target':'#attendance_rate', id:'attendance' do %>
        <i class="fas fa-info-circle"></i>
      <% end %>
      <div class="modal fade" id="attendance_rate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal_course_form text-justify p-3 ">
            <p class="text-black-20">Введіть значення відвідуваності у %,
              наприклад 50 - учні в які пропустили більше
              половини заннять не отримають очівку "завершення курсу"</p>
          </div>
        </div>
      </div>
    </div>
    <%= form.number_field :attendance_rate, class: "form-control text-center",
                          placeholder:'Відвідуваність'%>
  </div>

  <div class="field mt-5">
    Pre-moderation
    <%= form.radio_button(:pre_moderation, "true") %>
    <%= form.label(:pre_moderation, "On") %>
    <%= form.radio_button(:pre_moderation, "false") %>
    <%= form.label(:pre_moderation, "off") %>
  </div>

  <div class="field mt-2">
    <% if @course.save and @course.pictures.present? %>
      <% @course.pictures.each_with_index do |picture, index| %>
        <p id="picture_preview">
          <%= image_tag(picture.url(:medium), id:'shared_pict_in_form') %>
          <%= link_to 'Delete', course_picture_path(@course, index), method: :delete,
                      data: { confirm: 'Are you sure' }, :remote => true,
                      class:'btn btn-outline-dark btn-sm', id: 'delete_picture' %>
        </p>
      <% end %>
    <% end %>
    <div class="upload-preview field">
      <img />
    </div>
  </div>

  <% @course.pictures.each do |picture| %>
    <%= hidden_field :course, :pictures, multiple: true, value: picture.identifier %>
  <% end %>

  <div class="field">
    <%= form.file_field :pictures, multiple: true, class: "file" %>
  </div>

  <div class="field mt-5">
  <%= form.label :address %>
  <%= form.text_field :address, class: "form-control address", id: "address"%>
  </div>

  <div class="field mt-5">
    <%= form.hidden_field :latitude, class: "form-control"%>
    <%= form.hidden_field :longitude, class: "form-control"%>
  </div>

  <div id="map2"></div>
  <br>
  <div class="ml-auto mt-3 pb-5">
    <%= form.submit 'Submit', class: "btn btn-outline-light" %>
  </div>
<% end %>

<!--map goes here-->

<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
<% end %>

<script>
  var lat = document.getElementById('course_latitude').value;
  var lng = document.getElementById('course_longitude').value;
  if (!lat || !lng){
    lat=<%= request.location.latitude.nil? ? 51.5 : request.location.latitude %>;
    lng=<%= request.location.longitude.nil? ? -0.125 : request.location.longitude %>;
    document.getElementById('course_latitude').value = lat;
    document.getElementById('course_longitude').value = lng;
}
  $("#address").geocomplete({
    map: "#map2",
    mapOptions: {
      zoom: 10,
      styles: [
    {
        "featureType": "all",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "saturation": 36
            },
            {
                "color": "#000000"
            },
            {
                "lightness": 40
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#000000"
            },
            {
                "lightness": 16
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 20
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 17
            },
            {
                "weight": 1.2
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 20
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 21
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 17
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 29
            },
            {
                "weight": 0.2
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 18
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 16
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 19
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 17
            }
        ]
    }
]
    },
    markerOptions: {
      draggable: false
    },
    location: [lat, lng]
  });
</script>
<script>
    $("#address").geocomplete({
        map: "#map2"
    });
</script>
<script>
    document.querySelector('.file').addEventListener('change', event => {
        [...event.target.files].forEach(file => {
            const url = URL.createObjectURL(file)
            addImageToBody(url)
        })
    })
    // add image to html
    function addImageToBody (src) {
        const img = document.createElement('img')
        img.src = src
        img.className = 'my-img'
        $('.upload-preview').append(img)
    }
</script>
