<%= render 'shared/current_users' %>
<h1 class="text-sm-center mt-5">All courses</h1>
<div class="offset-1 offset-sm-2 offset-md-2 mt-5">
  <% @courses.each do |course| %>
    <div class="col-10 mb-4">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <h3><%= link_to course.name, course_path(course) %></h3>
            <div class="ml-auto">
              <% if current_user %>
                <% if already_joined?(course, current_user) %>
                  <button type="button" class="btn btn-outline-dark" disabled>Joinded</button>
                <% elsif free_places?(course) %>
                  <%= link_to 'join', join_path(id: course), class: "btn btn-outline-dark" %>
                <% else %>
                  has no free places
                <% end %>
              <% else %>
                <%#= link_to 'join', login_path, class: "btn btn-outline-dark" %>
                log in first
              <% end %>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">
            Description: <b><%= course.description %></b>
            <br>
            Organizer: <b><%= course.course_users&.find_by(role: 'organizer')&.user&.email %></b>
            <br>
            Pre-moderation: <b><%= course.pre_moderation %></b>
            <br>
            Places: <b><%= course.place_quantities %></b>
            Free:
            <%= count_free_places(course) %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
