<div class="offset-md-1 mt-5">
  <div class="col-10">
    <div class="card">
      <div class="card-header ">
        <div class="row">
          <h3>
            <%= @course.name %>
          </h3>
          <div class="ml-auto">
            <% if current_user %>
              <% if already_joined?(@course, current_user) %>
                <button type="button" class="btn btn-outline-dark" disabled>Joined</button>
              <% elsif free_places?(@course) %>
                <%= link_to 'Join', join_path(id: @course), class: "btn btn-outline-dark" %>
              <% else %>
                has no free places
              <% end %>
              <% if verify_organizer(@course, current_user) %>
                <%= link_to "Edit", edit_course_path(@course), class: "btn btn-outline-dark"  %>
                <%= link_to "Destroy", course_path(@course), class: "btn btn-outline-dark",
                            method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div>
          Created by:
          <b><%= @course.course_users&.includes(:user).find_by(role: 'organizer')&.user&.email %></b>
          <br>
          Pre-moderation:
          <%= @course.pre_moderation %>
          <br>
          Place quantities:
          <%= @course.place_quantities %>
          Free places:
          <%= count_free_places(@course) %>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= @course.description %></h5>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% if @course.pictures? %>
              <% @course.pictures.each_with_index do |picture, index| %>
                <div class="carousel-item <%= 'active' if index == 0 %>" >
                  <%= image_tag picture.url, id: index, class: 'd-block carousel__image'%>
                </div>
              <% end %>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">←</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">→</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <%= render 'lessons/lessons' %>
  <div class="ml-3">
    <b class="mt-5 blockquote-footer">Instructors(<%= @course&.course_users.where(role: 'instructor').size %>):</b>
    <p class="offset-1 mt-2">
      <% @course&.course_users.includes(:user).where(role: 'instructor').each do |instructor| %>

        <%= instructor.user.email %>
        <% if current_user && verify_instructor(@course, current_user) %>
          <%= link_to 'to participant', change_role_courses_path(id: @course.id, course_user_id: instructor.id) %>
        <% end %>
        <br>
      <% end %>
    </p>
  </div>
  <div class="ml-3">
    <b class="mt-5 blockquote-footer">
      Joined users(<%= @course&.course_users.where(role: 'participant', confirmed: true).size %>):
    </b>
    <p class="offset-1 mt-2">
      <% @course&.course_users.includes(:user).where(role: 'participant', confirmed: true).each do |participant| %>
        <%= participant.user.email %>
        <% if current_user && verify_instructor(@course, current_user) %>
          <%= link_to 'to instructor', change_role_courses_path(id: @course.id, course_user_id: participant.id) %>
          <%= link_to 'Unconfirm', set_user_confirmation_courses_path(id: @course.id, course_user_id: participant.id) %>
        <% end %>
        <br>
      <% end %>
    </p>
  </div>
  <div class="ml-3">
    <b class="mt-5 blockquote-footer">
      Candidates(<%= @course&.course_users.where(role: 'participant', confirmed: false).size %>):
    </b>
    <p class="offset-1 mt-2">
      <% @course&.course_users.includes(:user).where(role: 'participant', confirmed: false).each do |candidate| %>
        <%= candidate.user.email %>
        <% if current_user && verify_instructor(@course, current_user) %>
          <%= link_to 'to instructor', change_role_courses_path(id: @course.id, course_user_id: candidate.id) %>
          <%= link_to 'Confirm', set_user_confirmation_courses_path(id: @course.id, course_user_id: candidate.id) %>
        <% end %>
        <br>
      <% end %>
    </p>
  </div>
  <%= link_to "Back", courses_path, class: "btn btn-outline-dark" %>
</div>
<div class="text-center">
    <div id="map"></div>
</div>

<script>
  function initMap(lat, lng) {
    var myCoords = new google.maps.LatLng(lat, lng);
    var mapOptions = {
    center: myCoords,
    zoom: 14
    };
    var map = new google.maps.Map(document.getElementById('map'), mapOptions);

    var marker = new google.maps.Marker({
    position: myCoords,
    map: map
});
}
</script>

<script>
    $('#map').prepend(initMap(<%= @course.latitude %>, <%= @course.longitude %>));
</script>