<div class="offset-md-1 mt-5">
  <div class="col-10">
    <div class="card">
      <div class="card-header ">
        <div class="row">
          <h3>
            <%= @course.name %>
          </h3>
          <div class="ml-auto">
            <%= link_to 'join', join_path(id: @course ), class: "btn btn-outline-dark" %>
            <%= link_to "Edit", edit_course_path(@course), class: "btn btn-outline-dark"  %>
            <%= link_to "Destroy", course_path(@course), class: "btn btn-outline-dark" ,
                        method: :delete, data: { confirm: 'Are you sure?' }%>
          </div>
        </div>
        <h2>
          Created by:
          <b><%= @course.course_users&.find_by(role: 'organizer')&.user&.email %></b>
        </h2>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= @course.description %></h5>
        <%= link_to "Show lessons", course_lessons_path(@course), class: "btn btn-outline-dark" %>
        <%= link_to "Add lessons", new_course_lesson_path(@course), class: "btn btn-outline-dark" %>
      </div>
    </div>
  </div>
  <div class="ml-3">
    <b class="mt-5 blockquote-footer">Instructors:</b>
    <p class="offset-1 mt-2">
      <% @course&.course_users.where(role: 'instructor').each do |instructor| %>
        <%= instructor.user.email %>
        <%= link_to 'to participant', change_role_courses_path(id: @course.id, course_user_id: instructor.id) %>
        <br>
      <% end %>
    </p>
  </div>
  <div class="ml-3">
    <b class="mt-5 blockquote-footer">Joined users:</b>
    <p class="offset-1 mt-2">
      <% @course&.course_users.where(role: 'participant').each do |participant| %>
        <%= participant.user.email %>
        <%= link_to 'to instructor', change_role_courses_path(id: @course.id, course_user_id: participant.id) %>
        <br>
      <% end %>
    </p>
  </div>
  <%= link_to "Back", courses_path, class: "btn btn-outline-dark" %>
</div>
<div class="text-center">
    <div id="map"></div>
</div>

<script>
  function initMap(lat, lng) {
    var myCoords = new google.maps.LatLng(lat, lng);
    var mapOptions = {
    center: myCoords,
    zoom: 14
    };
    var map = new google.maps.Map(document.getElementById('map'), mapOptions);

    var marker = new google.maps.Marker({
    position: myCoords,
    map: map
});
}
</script>
<script>
    $('#map').prepend(initMap(<%= @course.latitude %>, <%= @course.longitude %>));
</script>
