<div class="container">
  <%= form_with(model: @category, local: true) do |form| %>
    <% if @category.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field mt-5">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control"%>
    </div>

    <div class="ml-auto mt-2">
      <%= form.submit 'Submit', class: "btn btn-outline-dark" %>
    </div>
  <% end %>
</div>
