<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:page_title) ? yield(:page_title) : "Thinkiny" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="text/javascript" src="<%= "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&libraries=places" %>"></script>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield(:head_tags) %>
  </head>

  <body>
    <div class="content">
      <%= render 'shared/navbar' %>
      <%= render 'shared/messages' %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
