<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:page_title) ? yield(:page_title) : "Thinkiny" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--для быстрой разработки исключая вебпак-->
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <script type="text/javascript" src="<%= "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&libraries=places" %>"></script>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield(:head_tags) %>
  </head>

  <body>
    <div class="content">
      <%= render 'shared/navbar' %>
      <%= render 'shared/messages' %>
      <div class="dropdown">
        <button class="btn btn-outline-info btn-sm pull-right dropdown-toggle set-language" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= set_language_dropdown %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to url_for(locale: 'en'), class: 'dropdown-item' do %>
            <%= flag_icon(:eu) %>
            English
          <% end %>
          <%= link_to url_for(locale: 'ru'), class: 'dropdown-item' do %>
            <%= flag_icon(:ru) %>
            Русский
          <% end %>
        </div>
      </div>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
