<!DOCTYPE html>
<html>
  <head>
    <title>Thinkiny</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaSUECXk7vEFyTqN6XajXccqTL3OU2XJY&libraries=places"></script>
    <%= yield(:head_tags) %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/messages' %>
    <%= yield %>
  </body>
</html>
