<!DOCTYPE html>
<html>
  <head>
    <title>Thinkiny</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--для быстрой разработки исключая вебпак-->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript" src="<%= "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&libraries=places" %>"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head_tags) %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/messages' %>
    <%= yield %>
  </body>
</html>
